@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    --main-color: rgb(20, 20, 20);
    --white-color: #f1f1f1;
    --shadow-main: 0px 1px 3px rgba(0, 0, 0, 0.151);
    --border-radius: 3px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

a{
    color: var(--main-color);
}

/* reusable components starts here */
.small-font {
  font-size: .7rem ;
}
.py-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-3{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-4{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.px-2{
    padding-left: 2rem;
    padding-right: 2rem;
}
.px-3{
    padding-left: 3rem;
    padding-right: 3rem;
}
.w-10 {
    width: 100%;
  }
  
  .w-9{
      width: 96%;
  }
  
  .w-8 {
      width: 88%;
  }
  
  .w-5 {
      width: 50%;
  }

  .gap-1 {
    gap: 1rem;
  }
  
  .gap-3 {
      gap: 3rem;
  }
  .gap-2 {
      gap: 2rem;
  }
  .gap-4 {
      gap: 4rem;
  }
  
  .d-flex {
      display: flex;
  }
  
  .flex-col {
      flex-direction: column;
  }
  
  .items-center {
      align-items: center;
  }
  
  .justify-center {
      align-items: center;
  }

  /* reusable components ends here */
.wrapper{
  background: white;
  position: relative;
  width: 100%;
  height: 150vh;
}
.wrapper nav{
    background-color: white;
  box-shadow: var(--shadow-main);
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  width: 100%;
  max-width: 100%;
  padding-left: 1rem;
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
  
}
.content .logo a{
    color: rgb(12, 12, 12);
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: rgb(12, 12, 12);
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
  color: white;
}
.wrapper .search-icon,
.wrapper .menu-icon{
    color: rgb(12, 12, 12);
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 92%;
  opacity: 0;
  border: 1px solid white;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  background: #f4f4f4;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #7e7e7e;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: white;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}

/* main body styling starts here */
.main-body {
    position: relative;
    width: 100%;
    min-height: 90vh;
   margin-top: 4.4rem;
}

.left-panel {
    position: fixed;
    z-index: 4;
    box-shadow: var(--shadow-main);
    background-color: white;
    height: 100vh;
    min-height: 50vh;
    width: 20%;
    color: var(--main-color);
    padding-top: 2rem;
}

.left-panel .img-wrapper {
    width: 35%;
    max-width: 35%;
    height: 16%;
    min-height: 16%;
    max-height: 16%;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    text-align: center;
    border: 1px solid red;
}

.left-panel .img-wrapper img {
   object-fit: cover;
   height: 100%;

}

.left-panel .user-info {
    text-align: center;

}
.left-panel .user-info .email {
    color: rgb(179, 179, 179);
}

.left-panel .quick-links {
    margin-top: 2rem;
    width: 60%;
  
}

.left-panel .quick-links .quick-item {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 3px;
    padding: .1rem;
    text-align: center;
    
}

.left-panel .quick-links .quick-item:hover {
    box-shadow: var(--shadow-main);
}

.left-panel .logout-btn {
    margin-top: 8rem;
    width: 48%;
}
.left-panel .logout {
    text-align: center;
    border: 1px solid red;
    padding: .2rem .4rem;
    border-radius: 3px;
    color: red;
}

.right-panel {
  width: 80%;
  z-index: 2;
  position: absolute;
  right: 0;
    border-radius: var(--border-radius);
    background-color: white;
}

.right-panel .header-post {
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.right-panel .post-card {
    margin-bottom: 1rem;
    height: 350px;
    padding: 1rem;
    background-color: var(--white-color);
    box-shadow: var(--shadow-main);
    
}

.right-panel .post-card .left-content {
    width: 30%;
    max-width: 30%;
    height: 44vh;
    max-height: 44vh;
    text-align: center;
}

.right-panel .post-card .left-content .img-wrapper {
    width: 55%;
    min-width: 55%;
    max-width: 55%;
    height: 60%;
    min-height: 60%;
    max-height: 60%;
    margin-bottom: 1.5rem;
    border-radius: 100%;
    overflow: hidden;
  
}

.right-panel .post-card .left-content .img-wrapper img {
    object-fit: cover;
    width: 80%;
    height: 80%;
}

.right-panel .post-card .right-content {
    width: 70%;
    position: relative;
    max-width: 70%;
    height: 100%;
    padding-left: 1rem;
    border-left: 1px solid rgb(179, 179, 179);
}

.right-panel .post-card .right-content .post-body {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.right-panel .post-card .right-content .time {
  position: absolute;
  bottom: 0;
  right: 1rem;
}


/* students page styling starts here */
.students-wrapper {
    position: relative;
    width: 70%;
}

.students-wrapper .student-card {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--white-color);
    box-shadow: var(--shadow-main);
    border-radius: var(--border-radius);
    
}

.students-wrapper .student-card .student-img {
    width: 12%;
    max-width: 12%;
    height: 12vh;
    max-height: 12vh;
    margin-right: .4rem;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.students-wrapper .student-card .student-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.students-wrapper .student-card .student-info {
    width: 80%;
    max-width: 80%;
    padding-left: 1rem;
    border-left: 1px solid rgb(179, 179, 179);
}

.students-wrapper .student-card .student-info .info {
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  width: 90%;

}
/* students page styling ends here */

/* POSTS STYLING STARTS HERE */
.user-profile {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: var(--shadow-main);
    padding: .8rem .5rem;
   
}

.user-profile .img-wrapper {
    width: 13%;
    max-width: 13%;
    height: 20vh;
    max-height: 20vh;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.user-profile .img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-profile .profile-details {
    width: 72%;
    max-width: 72%;
    padding-left: 1rem;
    border-left: 1px solid rgb(179, 179, 179);
}

.user-profile .profile-details .font-bold {
  font: 1rem;
  font-weight:600;
}

.user-profile .profile-details .edit-profile-btn {
  background-color: rgb(8, 50, 95);
  color: white;
  padding: .5rem .5rem;
  border-radius: 6px;
  text-align: center;
  width: 30%;
}

.user-profile .profile-details .edit-profile-btn a {
  color: var(--white-color);
}

.user-profile .total-posts {
  width: 16%;
  text-align: center;
}

.user-profile .total-posts .colored-bg {
  background-color: rgb(5, 71, 146);
  color: white;
  width: 100%;
  text-align: center;

  padding: 1rem 1.4rem;
}

/* SINGLE POSTS STYLING STARTS HERE */
.comments-wrapper {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 3px;
  padding: .2rem .4rem;
}

.comments-wrapper .header-top h4 {
  text-align: center;
}

.comments-wrapper .comment {
  position: relative;
  margin-top: 1rem;
  border-bottom: 1px solid rgb(232, 232, 232);
  padding-bottom: .3rem;
}
.comments-wrapper .comments-items {
  padding: .5rem .5rem;
}
.comments-wrapper .comment .img-wrapper {
  position: relative;
  width: 10%;
  max-width: 10%;
  height: 11vh;
  max-height: 11vh;
  border-radius: 100%;
}
.comments-wrapper .comments-items .comment .comment-body p {
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.comments-wrapper .comment .img-wrapper img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* media query starts here */

@media screen and (max-width: 800px){
   .wrapper .main-body .left-panel {
        display: none;
    }

    .right-panel {
        margin-top: 1rem;
        padding-left: .5rem;
        width: 96%;
        right: 1rem;
        height: 150vh;
    }
}
